extends layout

block content
  h1= title
  p Welcome to #{title}
  p This Is Testing.
  #{data}
  //ul
  //each val in [1, 2, 3, 4, 5]
    //li= val

  each data in ResultData
    ul
      li= data._id
      li= data.name
      li= data.live_age
      li= data.website
      li= data.address


  table(style='width:100%', border='1')
    tr
      th Id
      th Name
      th Live Age
      th Website
      th Address
    tr
    each data in ResultData
      td= data._id
      td= data.name
      td= data.live_age
      td= data.website
      td= data.address

